:root {
  /* 主题颜色 */
  --color-primary: #2B72FE;
  /* 半透明主题色 */
  --color-primary-translucent: #ECF5FF;
}

.cc-dialog {
  position: fixed;
  top: 20%;
  left: 50%;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform: translateX(-50%);
  background-clip: content;
  box-shadow: 0px 5px 5px -3px #0000001a, 0px 8px 10px 1px #0000000f, 0px 3px 14px 2px #0000000d;
  animation-duration: .3s;
  animation-fill-mode: both;
  -webkit-transform: translateX(-50%);
  -webkit-background-clip: content;
  -webkit-box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: .3s;
}

.cc-dialog .cc-dialog__header {
  padding: 0 80px 0 12px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--color-primary);
  cursor: all-scroll;
}

.cc-dialog .cc-dialog__close {
  width: 42px;
  height: 42px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.cc-dialog .cc-dialog__close:hover {
  opacity: .6;
}

.cc-dialog .cc-dialog__close .close {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url('../assets/images/close.png') no-repeat center;
}