/* 电话拨号盘 */
.cc-dialpad {
    width: 246px;
    height: auto;
    background-color: var(--color-primary-table, var(--color-primary-translucent));
    padding: 11px 12px;
    box-sizing: border-box;
}

.cc-dialpad .select_width {
    width: 225px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.cc-dialpad .cc-tel-box {
    position: relative;
    display: table;
    border-collapse: separate;
}

.cc-dialpad .slidedialpad {
    width: 36px;;
    height: 32px;
}

.cc-icon-slidedialpad {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../assets/images/slide-dial-pad.png');
    background-size: cover;
    vertical-align: middle;
}

.cc-tel-input {
    width: 180px;
    height: 32px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;
    color: #333333;
    background: white;
    float: left;
    margin-right: 6px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 4px;
}

.cc-tel-input span {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 33px;
}

.cc-tel-input .number {
    float: right;
    width: 170px;
    height: 32px;
    outline: none;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0 30px 0 0;
}

.cc-tel-input .clear {
    display: none;
    position: absolute;
    height: 32px;
    padding: 9px 8px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    cursor: pointer;
}


.cc-dialpad .cc-dialpad-num .cc-dialpad-num_key,
.cc-dialpad .cc-dialpad-actions .cc-dialpad-actions_key {
    width: 70px;
    height: 50px;
    float: left;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    background: #fff;
    margin-right: 6px;
    margin-top: 6px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.cc-dialpad .cc-dialpad-num .cc-dialpad-num_key:nth-child(3n) {
    margin-right: 0;
}

.cc-dialpad .cc-dialpad-num .cc-dialpad-num_key i {
    line-height: 50px;
}

.cc-dialpad .cc-dialpad-num .cc-dialpad-num_key:hover,
.cc-dialpad .cc-dialpad-actions .cc-dialpad-actions_key:hover,
.cc-tel-input span:hover {
    background: #f3f3f3;
}

.cc-dialpad .cc-dialpad-num .cc-dialpad-num_key:active,
.cc-dialpad .cc-dialpad-actions .cc-dialpad-actions_key:active,
.cc-tel-input span:active {
    background: #f1f1f1;
}

.cc-dialpad .cc-dialpad-actions .cc-dialpad-actions_key {
    width: 108px;
}

.cc-dialpad .cc-dialpad-actions .hangup {
    margin-right: 0;
}

.cc-icon-answer {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url('../assets/images/answer.png');
    background-size: cover;
    vertical-align: middle;
}

.cc-icon-hangup {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url('../assets/images/hangUp.png');
    background-size: cover;
    vertical-align: middle;
}

.cc-icon-clear {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../assets/images/clear.png');
    background-size: cover;
}

.cc-dialpad ul li.backspace img {
    width: 20px;
}

.cc-dialpad .remove,
.cc-dialpad .ringing_dialpad {
    font-weight: 900;
    font-size: 15px;
    line-height: 50px;
}